<h1>HIIIIII</h1>

<p>{{property.minPrice}}</p>
<div>
    {{#each property }}
    <p>{{this.ListPrice}}</p>
    <p>{{this.BedroomsTotal}}</p>
    <p>{{this.BathroomsTotalInteger}}</p>
    <p>{{this.UnparsedAddress}}</p>
    <br>
    <p>>{{Directions}}</p>
    <br>
    <img src="{{this.Media.0.MediaURL}}" alt="">
    {{/each}}
</div>