<head>
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js" type="text/javascript"></script>
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,600,700' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="/css/slider.css">
    <link rel="stylesheet" href="/css/singleUnit.css">
    <script src="/js/slider.js"></script>
    <script src="/js/singleListingGallery.js"></script>
</head>
<style>
    /* Set the size of the div element that contains the map */
    #map {

        position: absolute;
        overflow: hidden !important;
        height: 100vh;
        width: 100vw;
        /* margin-top: 3em; */
        border-radius: 4px;


    }

    /*style the INFO WINDOW */
    .gm-style .gm-style-iw {
        background-color: #252525 !important;
        top: 0 !important;
        left: 0 !important;
        width: 500px !important;
        height: 200px !important;
        min-height: 120px !important;
        padding-top: 10px;
        display: inline-block;
        text-align: center;
        overflow: auto !important;

    }

    .gm-style-iw {}

    /*style the p tag*/
    .gm-style .gm-style-iw #google-popup p {}


    /*style the arrow*/
    .gm-style div div div div div div div div {

        color: #fff;

        font-size: 15px;

        width: 448px;

    }

    /* END GOOGLE MAPS */

    /* START CODEPEN MAP */


    .interactive-map {
        display: block;
        width: 100%;
        margin: 2% auto;
        max-width: 1200px;
        max-height: 800px;

        position: relative;
        border-radius: 10px;
    }

    .interactive-map>img {
        vertical-align: top;
        position: relative;
        width: 97%;
        border-radius: 10px;
    }

    .map-point i {
        font-size: 2.2vw;
        color: #b92020;
    }

    .map-point img,
    .map-point span {
        cursor: pointer;
        outline: none;
        z-index: 2;
        position: absolute;
    }

    .map-point {
        transition: opacity .25s ease-in-out;
        -moz-transition: opacity .25s ease-in-out;
        -webkit-transition: opacity .25s ease-in-out;
    }


    /* Tooltip CSS Start */

    .tooltip {
        display: block;
        position: absolute;
        z-index: 0;
    }


    /* Gap filler */

    .tooltip-item::after {
        content: '';
        position: absolute;
        width: 360px;
        height: 20px;
        bottom: 100%;
        left: 50%;
        pointer-events: none;
        -webkit-transform: translateX(-50%);
        transform: translateX(-50%);
    }

    .tooltip:hover .tooltip-item::after {
        pointer-events: auto;
    }


    /* Tooltip */

    .tooltip-content {
        position: absolute;
        width: 256px;
        left: -28%;

        bottom: 100%;
        text-align: left;
        font-size: 0.765em;
        line-height: 1.4;
        box-shadow: -5px -5px 15px rgba(48, 54, 61, 0.2);
        background: #2a3035;
        opacity: 0;
        cursor: default;
        pointer-events: none;
    }

    .tooltip-effect-4 .tooltip-content {
        -webkit-transform-origin: 50% 100%;
        transform-origin: 50% 100%;
        -webkit-transform: scale3d(0.7, 0.3, 1);
        transform: scale3d(0.7, 0.3, 1);
        -webkit-transition: opacity 0.2s, -webkit-transform 0.2s;
        transition: opacity 0.2s, transform 0.2s;
    }


    .tooltip:hover .tooltip-content {
        pointer-events: auto;
        opacity: 1;
        -webkit-transform: translate3d(0, 0, 0) rotate3d(0, 0, 0, 0);
        transform: translate3d(10, 0, 0) rotate3d(0, 0, 0, 0);
    }

    .tooltip:hover {
        z-index: 9999;
    }


    /* Arrow */

    .tooltip-content::after {
        content: '';
        top: 100%;
        left: 50%;
        border: solid transparent;
        height: 0;
        width: 0;
        position: absolute;
        pointer-events: none;
        border-color: transparent;
        border-top-color: #2a3035;
        border-width: 10px;
        margin-left: -10px;
        z-index: 99999;
    }


    /* Tooltip content*/

    .tooltip-text {
        font-size: 1.2em;
        line-height: 1.35;
        display: block;
        font-family: 'Open Sans';
        text-align: center;

        color: #fff;
        position: relative !important;
    }

    .clearfix {
        clear: both;
    }

    .tooltip:hover {
        z-index: 9999;
    }


    /* Arrow */

    .tooltip-content2::after {
        content: '';
        top: 100%;
        left: 50%;
        border: solid transparent;
        height: 0;
        width: 0;
        position: absolute;
        pointer-events: none;
        border-color: transparent;
        border-top-color: #2a3035;
        border-width: 10px;
        margin-left: -10px;
        z-index: 99999;
    }
</style>

<section id='works' class="s-works" style=" padding-top: 23px;">

    <!--The div element for the map -->
    <div class="boxShadow" id="map"></div>
    <div style="display: none">
        {{#each smugglerData1}}
        <p id="smugglerActiveListings"> {{this.ActiveListings}}</p>
        <p id="smugglerNewListings"> {{this.NewListings}}</p>
        <p id="smugglerPendedListings"> {{this.PendedListings}}</p>
        <p id="smugglerSoldListings"> {{this.SoldListings}}</p>
        <p id="smugglerActiveListings-dates"> {{this.Dates}}</p>
        {{/each}}

        {{#each smugglerData2}}
        <p id="smugglerAbsorbtion"> {{this.AbsorptionRate}}</p>
        {{/each}}

        {{#each smugglerData3}}
        <p id="smugglerActiveAvgPrice"> {{this.ActiveAverageListPrice}}</p>
        <p id="smugglerNewAvgPrice"> {{this.NewAverageListPrice}}</p>
        <p id="smugglerPendedAvgPrice">{{this.PendedAverageListPrice}}</p>
        <p id="smugglerSoldAvgPrice">{{this.SoldAverageListPrice}}</p>
        <p id="smugglerSoldAvgSoldPrice">{{this.SoldAverageSoldPrice}}</p>
        <p id="smugglerActiveMedianPrice">{{this.ActiveMedianListPrice}}</p>
        <p id="smugglerNewMedianPrice">{{this.NewMedianListPrice}}</p>
        <p id="smugglerPendedMedianPrice">{{this.PendedMedianListPrice}}</p>
        <p id="smugglerSoldMedianPrice">{{this.SoldMedianListPrice}}</p>
        <p id="smugglerSoldMedianSoldPrice">{{this.SoldMedianSoldPrice}}</p>
        <p id="">{{/each}}


            {{#each smugglerData4}}

            <p id="smugglerSaleToOriginalListPriceRatio"> {{this.SaleToOriginalListPriceRatio}}</p>
            <p id="sumgglerSaleToListPriceRatio"> {{this.SaleToListPriceRatio}}</p>

            {{/each}}

            {{#each smugglerData5}}
            <p id="smugglerAverageDom"> {{this.AverageDom}}</p>
            <p id="smugglerAverageCdom"> {{this.AverageCdom}}</p>
            {{/each}}

            {{#each smugglerData6}}
            <p id="smugglerActiveListVolume"> {{this.ActiveListVolume}}</p>

            <p id="smugglerNewListVolume"> {{this.NewListVolume}}</p>

            <p id="smugglerPendedListVolume"> {{this.PendedListVolume}}</p>

            <p id="smugglerSoldListVolume"> {{this.SoldListVolume}}</p>

            <p id="smugglerSoldSaleVolume"> {{this.SoldSaleVolume}}</p>

            {{/each}}


            {{#each centralCoreData1}}
            <p id="centralCoreActiveListings"> {{this.ActiveListings}}</p>
            <p id="centralCoreNewListings"> {{this.NewListings}}</p>
            <p id="centralCorePendedListings"> {{this.PendedListings}}</p>
            <p id="centralCoreSoldListings"> {{this.SoldListings}}</p>
            <p id="centralCoreActiveListings-dates"> {{this.Dates}}</p>
            {{/each}}

            {{#each centralCoreData2}}
            <p id="centralCoreAbsorbtion"> {{this.AbsorptionRate}}</p>
            {{/each}}

            {{#each centralCoreData3}}
            <p id="centralCoreActiveAvgPrice"> {{this.ActiveAverageListPrice}}</p>
            <p id="centralCoreNewAvgPrice"> {{this.NewAverageListPrice}}</p>
            <p id="centralCorePendedAvgPrice">{{this.PendedAverageListPrice}}</p>
            <p id="centralCoreSoldAvgPrice">{{this.SoldAverageListPrice}}</p>
            <p id="centralCoreSoldAvgSoldPrice">{{this.SoldAverageSoldPrice}}</p>
            <p id="centralCoreActiveMedianPrice">{{this.ActiveMedianListPrice}}</p>
            <p id="centralCoreNewMedianPrice">{{this.NewMedianListPrice}}</p>
            <p id="centralCorePendedMedianPrice">{{this.PendedMedianListPrice}}</p>
            <p id="centralCoreSoldMedianPrice">{{this.SoldMedianListPrice}}</p>
            <p id="centralCoreSoldMedianSoldPrice">{{this.SoldMedianSoldPrice}}</p>
            <p id="">{{/each}}


                {{#each centralCoreData4}}

                <p id="centralCoreSaleToOriginalListPriceRatio"> {{this.SaleToOriginalListPriceRatio}}</p>
                <p id="centralCoreSaleToListPriceRatio"> {{this.SaleToListPriceRatio}}</p>

                {{/each}}

                {{#each centralCoreData5}}
                <p id="centralCoreAverageDom"> {{this.AverageDom}}</p>
                <p id="centralCoreAverageCdom"> {{this.AverageCdom}}</p>
                {{/each}}

                {{#each centralCoreData6}}
                <p id="centralCoreActiveListVolume"> {{this.ActiveListVolume}}</p>

                <p id="centralCoreNewListVolume"> {{this.NewListVolume}}</p>

                <p id="centralCorePendedListVolume"> {{this.PendedListVolume}}</p>

                <p id="centralCoreSoldListVolume"> {{this.SoldListVolume}}</p>

                <p id="centralCoreSoldSaleVolume"> {{this.SoldSaleVolume}}</p>

                {{/each}}
    </div>
    {{!-- <div class="interactive-map">

        <img src="https://www.alpineproperty.com/images/website/AspenMap.jpg">


        <div class="map-point">
            <span class="tooltip tooltip-effect-4" style="top:3%; right:24%;">
                <span>
                    <div class="cover" style="
    font-size: 2vw;
    color: #b92020;
    background-color: white;
    width: 120px;
    height: 160px;"></div>
                    <span class="tooltip-content clearfix">
                        <span class="tooltip-text">
                            Central Core<br>
                            <hr><br>
                            Number of Current Listings: 102<br>
                            Number of Sales:64<br>
                            Average Sale Price:$3,675,771<br>
                            Average Sale Price to List Ratio:94%<br>
                            Average Sale Price Per Sq Ft:$1,820<br>
                            Highest Sale Price:$18,344,736<br>
                            Lowest Sale Price: $430,000<br>

                        </span>
                    </span>
                </span>
        </div>


        <div class="map-point">
            <span class="tooltip tooltip-effect-4" style="top:69%; right:26%;">
                <span class="tooltip-item">
                    <i class="fa fa-map-marker" aria-hidden="true"></i>
                    <span class="tooltip-content clearfix">
                        <span class="tooltip-text">
                            East Aspen<br>
                            <hr><br>
                            Number of Current Listings: 39 <br>
                            Number of Sales: 10<br>
                            Average Sale Price: $5,493,750<br>
                            Average Sale Price to List Ratio: 92%<br>
                            Average Sale Price Per Sq Ft: $1,295<br>
                            Highest Sale Price: $19,000,000<br>
                            Lowest Sale Price: $2,250,000<br>
                        </span>
                    </span>
                </span>
        </div>


        <div class="map-point">
            <span class="tooltip tooltip-effect-4" style="top:49%; right:30%;">
                <span class="tooltip-item">
                    <i class="fa fa-map-marker" aria-hidden="true"></i>
                    <span class="tooltip-content clearfix">
                        <span class="tooltip-text">
                            Smuggler<br>
                            <hr><br>
                            Number of Current Listings: 26<br>
                            Number of Sales: 15<br>
                            Average Sale Price: $4,659,667<br>
                            Average Sale Price to List Ratio: 94%<br>
                            Average Sale Price Per Sq Ft: $1,334<br>
                            Highest Sale Price: $21,500,000<br>
                            Lowest Sale Price: $545,000<br>
                        </span>
                    </span>
                </span>
        </div>
        <div class="map-point">
            <span class="tooltip tooltip-effect-4" style="top:50%; right:54%;">
                <span class="tooltip-item">
                    <i class="fa fa-map-marker" aria-hidden="true"></i>
                    <span class="tooltip-content clearfix">
                        <span class="tooltip-text">
                            West End<br>
                            <hr><br>
                            Number of Current Listings: 48<br>
                            Number of Sales: 26<br>
                            Average Sale Price:$4,605,494<br>
                            Average Sale Price to List Ratio:91%<br>
                            Average Sale Price Per Sq Ft:$1,590<br>
                            Highest Sale Price:$17,500,000<br>
                            Lowest Sale Price: $810,000<br>

                        </span>
                    </span>
                </span>
        </div>

        <div class="map-point">
            <span class="tooltip tooltip-effect-4" style="top:29%; right:48%;">
                <span class="tooltip-item">
                    <i class="fa fa-map-marker" aria-hidden="true"></i>
                    <span class="tooltip-content clearfix">
                        <span class="tooltip-text">
                            Red Mountain <br>
                            <hr><br>
                            Number of Current Listings: 33<br>
                            Number of Sales:4 <br>
                            Average Sale Price:$11,325,000<br>
                            Average Sale Price to List Ratio:94%<br>
                            Average Sale Price Per Sq Ft:$1,806<br>
                            Highest Sale Price:$15,200,000<br>
                            Lowest Sale Price: $4,800,000<br>

                        </span>
                    </span>
                </span>
        </div>
        <div class="map-point">
            <span class="tooltip tooltip-effect-4" style="top:61%; right:71%;">
                <span class="tooltip-item">
                    <i class="fa fa-map-marker" aria-hidden="true"></i>
                    <span class="tooltip-content clearfix">
                        <span class="tooltip-text">
                            West Aspen<br>
                            <hr><br>
                            Number of Current Listings: 112<br>
                            Number of Sales:31<br>
                            Average Sale Price:$3,451,242<br>
                            Average Sale Price to List Ratio:92%<br>
                            Average Sale Price Per Sq Ft:$988<br>
                            Highest Sale Price:$10,400,000<br>
                            Lowest Sale Price: $239,000<br>

                        </span>
                    </span>
                </span>
        </div>

        <div class="map-point">
            <span class="tooltip tooltip-effect-4" style="top:8%; right:75%;">
                <span class="tooltip-item">
                    <i class="fa fa-map-marker" aria-hidden="true"></i>
                    <span class="tooltip-content clearfix">
                        <span class="tooltip-text">
                            Mclain Flats & Starwood<br>
                            <hr><br>
                            Number of Current Listings: 19<br>
                            Number of Sales:8<br>
                            Average Sale Price:$5,981,250<br>
                            Average Sale Price to List Ratio:89%<br>
                            Average Sale Price Per Sq Ft:$1,062<br>
                            Highest Sale Price:$9,025,000<br>
                            Lowest Sale Price: $2,100,000<br>

                        </span>
                    </span>
                </span>
        </div>
    </div> --}}
    <script>
        //var coordinates = document.getElementById('googleCoordinates').innerHTML.trim().split(',');
        //var long = parseFloat(coordinates[0]);
        //var lat = parseFloat(coordinates[1]);
        // Initialize and add the map
        // Initialize and add the map
        //console.log(lat);
        //console.log(long);
        function initMap() {
            var map = new google.maps.Map(document.getElementById('map'), {
                zoom: 12,
                center: { lat: 39.191097, lng: -106.817535 }, styles: [
                    {
                        "elementType": "geometry",
                        "stylers": [
                            {
                                "color": "#f5f5f5"
                            }
                        ]
                    },
                    {
                        "elementType": "labels.icon",
                        "stylers": [
                            {
                                "visibility": "off"
                            }
                        ]
                    },
                    {
                        "elementType": "labels.text.fill",
                        "stylers": [
                            {
                                "color": "#616161"
                            }
                        ]
                    },
                    {
                        "elementType": "labels.text.stroke",
                        "stylers": [
                            {
                                "color": "#f5f5f5"
                            }
                        ]
                    },
                    {
                        "featureType": "administrative.land_parcel",
                        "elementType": "labels",
                        "stylers": [
                            {
                                "visibility": "off"
                            }
                        ]
                    },
                    {
                        "featureType": "administrative.land_parcel",
                        "elementType": "labels.text.fill",
                        "stylers": [
                            {
                                "color": "#bdbdbd"
                            }
                        ]
                    },
                    {
                        "featureType": "poi",
                        "elementType": "geometry",
                        "stylers": [
                            {
                                "color": "#eeeeee"
                            }
                        ]
                    },
                    {
                        "featureType": "poi",
                        "elementType": "labels.text",
                        "stylers": [
                            {
                                "visibility": "off"
                            }
                        ]
                    },
                    {
                        "featureType": "poi",
                        "elementType": "labels.text.fill",
                        "stylers": [
                            {
                                "color": "#757575"
                            }
                        ]
                    },
                    {
                        "featureType": "poi.park",
                        "elementType": "geometry",
                        "stylers": [
                            {
                                "color": "#e5e5e5"
                            }
                        ]
                    },
                    {
                        "featureType": "poi.park",
                        "elementType": "labels.text.fill",
                        "stylers": [
                            {
                                "color": "#9e9e9e"
                            }
                        ]
                    },
                    {
                        "featureType": "road",
                        "elementType": "geometry",
                        "stylers": [
                            {
                                "color": "#ffffff"
                            }
                        ]
                    },
                    {
                        "featureType": "road.arterial",
                        "elementType": "labels.text.fill",
                        "stylers": [
                            {
                                "color": "#757575"
                            }
                        ]
                    },
                    {
                        "featureType": "road.highway",
                        "elementType": "geometry",
                        "stylers": [
                            {
                                "color": "#dadada"
                            }
                        ]
                    },
                    {
                        "featureType": "road.highway",
                        "elementType": "labels.text.fill",
                        "stylers": [
                            {
                                "color": "#616161"
                            }
                        ]
                    },
                    {
                        "featureType": "road.local",
                        "elementType": "labels",
                        "stylers": [
                            {
                                "visibility": "off"
                            }
                        ]
                    },
                    {
                        "featureType": "road.local",
                        "elementType": "labels.text.fill",
                        "stylers": [
                            {
                                "color": "#9e9e9e"
                            }
                        ]
                    },
                    {
                        "featureType": "transit.line",
                        "elementType": "geometry",
                        "stylers": [
                            {
                                "color": "#e5e5e5"
                            }
                        ]
                    },
                    {
                        "featureType": "transit.station",
                        "elementType": "geometry",
                        "stylers": [
                            {
                                "color": "#eeeeee"
                            }
                        ]
                    },
                    {
                        "featureType": "water",
                        "elementType": "geometry",
                        "stylers": [
                            {
                                "color": "#c9c9c9"
                            }
                        ]
                    },
                    {
                        "featureType": "water",
                        "elementType": "labels.text.fill",
                        "stylers": [
                            {
                                "color": "#9e9e9e"
                            }
                        ]
                    }
                ],
                mapTypeControlOptions: {
                    mapTypeIds: [google.maps.MapTypeId.TERRAIN]
                },
                mapTypeId: google.maps.MapTypeId.TERRAIN
            });


            var smugglerNewListings = document.getElementById("smugglerNewListings").innerHTML;

            smugglerNewListings = smugglerNewListings.split(",");

            var smugglerPendedListings = document.getElementById("smugglerPendedListings").innerHTML;

            smugglerPendedListings = smugglerPendedListings.split(",");


            var smugglerSoldListings = document.getElementById("smugglerSoldListings").innerHTML;

            smugglerSoldListings = smugglerSoldListings.split(",");


            var smugglerActiveListings = document.getElementById("smugglerActiveListings").innerHTML;

            smugglerActiveListings = smugglerActiveListings.split(",");

            var smugglerActiveListingsDate = document.getElementById("smugglerActiveListings-dates").innerHTML;

            smugglerActiveListingsDate = smugglerActiveListingsDate.split(",");

            var smugglerAbsorbtion = document.getElementById("smugglerAbsorbtion").innerHTML;

            smugglerAbsorbtion = smugglerAbsorbtion.split(",");

            var smugglerActiveAvgPrice = document.getElementById("smugglerActiveAvgPrice").innerHTML;
            smugglerActiveAvgPrice = smugglerActiveAvgPrice.split(",");
            smugglerActiveAvgPrice = Number(smugglerActiveAvgPrice[0]).toLocaleString();


            var smugglerNewAvgPrice = document.getElementById("smugglerNewAvgPrice").innerHTML;

            smugglerNewAvgPrice = smugglerNewAvgPrice.split(",");
            smugglerNewAvgPrice = Number(smugglerNewAvgPrice[0]).toLocaleString();

            var smugglerPendedAvgPrice = document.getElementById("smugglerPendedAvgPrice").innerHTML;

            smugglerPendedAvgPrice = smugglerPendedAvgPrice.split(",");
            smugglerPendedAvgPrice = Number(smugglerPendedAvgPrice[0]).toLocaleString();

            var smugglerSoldAvgPrice = document.getElementById("smugglerSoldAvgPrice").innerHTML;

            smugglerSoldAvgPrice = smugglerSoldAvgPrice.split(",");
            smugglerSoldAvgPrice = Number(smugglerSoldAvgPrice[0]).toLocaleString();

            var smugglerSoldAvgSoldPrice = document.getElementById("smugglerSoldAvgSoldPrice").innerHTML;

            smugglerSoldAvgSoldPrice = smugglerSoldAvgSoldPrice.split(",");
            smugglerSoldAvgSoldPrice = Number(smugglerSoldAvgSoldPrice[0]).toLocaleString();

            var smugglerActiveMedianPrice = document.getElementById("smugglerActiveMedianPrice").innerHTML;
            smugglerActiveMedianPrice = smugglerActiveMedianPrice.split(",");
            smugglerActiveMedianPrice = Number(smugglerActiveMedianPrice[0]).toLocaleString();

            var smugglerNewMedianPrice = document.getElementById("smugglerNewMedianPrice").innerHTML;

            smugglerNewMedianPrice = smugglerNewMedianPrice.split(",");
            smugglerNewMedianPrice = Number(smugglerNewMedianPrice[0]).toLocaleString();

            var smugglerPendedMedianPrice = document.getElementById("smugglerPendedMedianPrice").innerHTML;

            smugglerPendedMedianPrice = smugglerPendedMedianPrice.split(",");
            smugglerPendedMedianPrice = Number(smugglerPendedMedianPrice[0]).toLocaleString();

            var smugglerSoldMedianPrice = document.getElementById("smugglerSoldMedianPrice").innerHTML;

            smugglerSoldMedianPrice = smugglerSoldMedianPrice.split(",");
            smugglerSoldMedianPrice = Number(smugglerSoldMedianPrice[0]).toLocaleString();


            var smugglerSoldMedianSoldPrice = document.getElementById("smugglerSoldMedianSoldPrice").innerHTML;

            smugglerSoldMedianSoldPrice = smugglerSoldMedianSoldPrice.split(",");
            smugglerSoldMedianSoldPrice = Number(smugglerSoldMedianSoldPrice[0]).toLocaleString();

            /*  var smugglerSoldMedianSoldPrice = document.getElementById("smugglerSoldMedianSoldPrice").innerHTML;

              smugglerSoldMedianSoldPrice = smugglerSoldMedianSoldPrice.split(",");

              */

            var smugglerSaleToOriginalListPriceRatio = document.getElementById("smugglerSaleToOriginalListPriceRatio").innerHTML;

            smugglerSaleToOriginalListPriceRatio = smugglerSaleToOriginalListPriceRatio.split(",");

            var sumgglerSaleToListPriceRatio = document.getElementById("sumgglerSaleToListPriceRatio").innerHTML;

            sumgglerSaleToListPriceRatio = sumgglerSaleToListPriceRatio.split(",");

            var smugglerAverageDom = document.getElementById("smugglerAverageDom").innerHTML;
            smugglerAverageDom = smugglerAverageDom.split(",");

            var smugglerAverageCdom = document.getElementById("smugglerAverageCdom").innerHTML;
            smugglerAverageCdom = smugglerAverageCdom.split(",");


            var smugglerActiveListVolume = document.getElementById("smugglerActiveListVolume").innerHTML;
            smugglerActiveListVolume = smugglerActiveListVolume.split(",");

            var smugglerNewListVolume = document.getElementById("smugglerNewListVolume").innerHTML;
            smugglerNewListVolume = smugglerNewListVolume.split(",");

            var smugglerPendedListVolume = document.getElementById("smugglerPendedListVolume").innerHTML;
            smugglerPendedListVolume = smugglerPendedListVolume.split(",");

            var smugglerSoldListVolume = document.getElementById("smugglerSoldListVolume").innerHTML;
            smugglerSoldListVolume = smugglerSoldListVolume.split(",");

            var smugglerSoldSaleVolume = document.getElementById("smugglerSoldSaleVolume").innerHTML;
            smugglerSoldSaleVolume = smugglerSoldSaleVolume.split(",");





            var centralCoreNewListings = document.getElementById("centralCoreNewListings").innerHTML;

            centralCoreNewListings = centralCoreNewListings.split(",");

            var centralCorePendedListings = document.getElementById("centralCorePendedListings").innerHTML;

            centralCorePendedListings = centralCorePendedListings.split(",");


            var centralCoreSoldListings = document.getElementById("centralCoreSoldListings").innerHTML;

            centralCoreSoldListings = centralCoreSoldListings.split(",");


            var centralCoreActiveListings = document.getElementById("centralCoreActiveListings").innerHTML;

            centralCoreActiveListings = centralCoreActiveListings.split(",");

            var centralCoreActiveListingsDate = document.getElementById("centralCoreActiveListings-dates").innerHTML;

            centralCoreActiveListingsDate = centralCoreActiveListingsDate.split(",");

            var centralCoreAbsorbtion = document.getElementById("centralCoreAbsorbtion").innerHTML;

            centralCoreAbsorbtion = centralCoreAbsorbtion.split(",");

            console.log(centralCoreAbsorbtion);

            var centralCoreActiveAvgPrice = document.getElementById("centralCoreActiveAvgPrice").innerHTML;
            centralCoreActiveAvgPrice = centralCoreActiveAvgPrice.split(",");
            centralCoreActiveAvgPrice = Number(centralCoreActiveAvgPrice[0]).toLocaleString();


            var centralCoreNewAvgPrice = document.getElementById("centralCoreNewAvgPrice").innerHTML;

            centralCoreNewAvgPrice = centralCoreNewAvgPrice.split(",");

            var centralCorePendedAvgPrice = document.getElementById("centralCorePendedAvgPrice").innerHTML;

            centralCorePendedAvgPrice = centralCorePendedAvgPrice.split(",");

            var centralCoreSoldAvgPrice = document.getElementById("centralCoreSoldAvgPrice").innerHTML;

            centralCoreSoldAvgPrice = centralCoreSoldAvgPrice.split(",");

            var centralCoreSoldAvgSoldPrice = document.getElementById("centralCoreSoldAvgSoldPrice").innerHTML;

            centralCoreSoldAvgSoldPrice = centralCoreSoldAvgSoldPrice.split(",");

            var centralCoreActiveMedianPrice = document.getElementById("centralCoreActiveMedianPrice").innerHTML;
            centralCoreActiveMedianPrice = centralCoreActiveMedianPrice.split(",");
            centralCoreActiveMedianPrice = Number(centralCoreActiveMedianPrice[0]).toLocaleString();

            var centralCoreNewMedianPrice = document.getElementById("centralCoreNewMedianPrice").innerHTML;

            centralCoreNewMedianPrice = centralCoreNewMedianPrice.split(",");

            var centralCorePendedMedianPrice = document.getElementById("centralCorePendedMedianPrice").innerHTML;

            centralCorePendedMedianPrice = centralCorePendedMedianPrice.split(",");

            var centralCoreSoldMedianPrice = document.getElementById("centralCoreSoldMedianPrice").innerHTML;

            centralCoreSoldMedianPrice = centralCoreSoldMedianPrice.split(",");


            var centralCoreSoldMedianSoldPrice = document.getElementById("centralCoreSoldMedianSoldPrice").innerHTML;

            centralCoreSoldMedianSoldPrice = centralCoreSoldMedianSoldPrice.split(",");

            var centralCoreSoldMedianSoldPrice = document.getElementById("centralCoreSoldMedianSoldPrice").innerHTML;

            centralCoreSoldMedianSoldPrice = centralCoreSoldMedianSoldPrice.split(",");

            var centralCoreSaleToOriginalListPriceRatio = document.getElementById("centralCoreSaleToOriginalListPriceRatio").innerHTML;

            centralCoreSaleToOriginalListPriceRatio = centralCoreSaleToOriginalListPriceRatio.split(",");

            var centralCoreSaleToListPriceRatio = document.getElementById("centralCoreSaleToListPriceRatio").innerHTML;

            centralCoreSaleToListPriceRatio = centralCoreSaleToListPriceRatio.split(",");

            var centralCoreAverageDom = document.getElementById("centralCoreAverageDom").innerHTML;
            centralCoreAverageDom = centralCoreAverageDom.split(",");

            var centralCoreAverageCdom = document.getElementById("centralCoreAverageCdom").innerHTML;
            centralCoreAverageCdom = centralCoreAverageCdom.split(",");


            var centralCoreActiveListVolume = document.getElementById("centralCoreActiveListVolume").innerHTML;
            centralCoreActiveListVolume = centralCoreActiveListVolume.split(",");

            var centralCoreNewListVolume = document.getElementById("centralCoreNewListVolume").innerHTML;
            centralCoreNewListVolume = centralCoreNewListVolume.split(",");

            var centralCorePendedListVolume = document.getElementById("centralCorePendedListVolume").innerHTML;
            centralCorePendedListVolume = centralCorePendedListVolume.split(",");

            var centralCoreSoldListVolume = document.getElementById("centralCoreSoldListVolume").innerHTML;
            centralCoreSoldListVolume = centralCoreSoldListVolume.split(",");

            var centralCoreSoldSaleVolume = document.getElementById("centralCoreSoldSaleVolume").innerHTML;
            centralCoreSoldSaleVolume = centralCoreSoldSaleVolume.split(",");





            var polygons = [
                {
                    name: "Smuggler<br>", dates: "<p>Date:" + smugglerActiveListingsDate[0] + "<br/></p>Inventory<hr>", listings: "Active Listings: " + smugglerActiveListings[0] + "<br>", newListings: "New Listings: " + smugglerNewListings[0] + "<br>", pendingListings: "Pending Listings: " + smugglerPendedListings[0] + "<br>", soldListings: "Sold Listings: " + smugglerSoldListings[0] + "</p>", absorbtionRate: "Absorbtion Rate<hr>" + smugglerAbsorbtion[0], ActiveAvgPrice: "<br><br>PRICE <hr>Active Average list price: $" + smugglerActiveAvgPrice, NewAvgPrice: "<br>New Active Average Price: $" + smugglerNewAvgPrice, PendedAvgPrice: "<br>Pended Avg Price: $" + smugglerPendedAvgPrice, SoldAvgPrice: "<br>Avg sold Price: $" + smugglerSoldAvgPrice, SoldAvgSoldPrice: " <br>Sold Avg Sold Price: $" + smugglerSoldAvgSoldPrice, ActiveMedianPrice: " <br>Active Median Price: $" + smugglerActiveMedianPrice, NewMedianPrice: "<br>New Median Price: $" + smugglerNewMedianPrice, PendedMedianPrice: "<br>PendedMedianPrice: $" + smugglerPendedMedianPrice, SoldMedianPrice: "<br>SoldMedianPrice: $" + smugglerSoldMedianPrice, SoldMedianSoldPrice: "<br>Sold Median Sold Price: $" + smugglerSoldMedianSoldPrice, SaleToOriginalListPriceRatio: "<br><br>RATIO <hr> SaleToOriginalListPriceRatio" + smugglerSaleToOriginalListPriceRatio[0],
                    SaleToListPriceRatio: " <br>SaleToListPriceRatio" + sumgglerSaleToListPriceRatio[0], AverageDom: "<br><br>Days on Market <hr>Average Day on Market " + smugglerAverageDom[0], AverageCdom: "<br>Average C Day on Market " + smugglerAverageCdom[0],
                    ActiveListVolume: "<br>ActiveListVolume " + smugglerActiveListVolume[0], NewListVolume: "<br><br>VOLUME <hr>NewListVolume " + smugglerNewListVolume[0], PendedListVolume: "<br>PendedListVolume " + smugglerPendedListVolume[0], SoldListVolume: "<br>SoldListVolume " + smugglerSoldListVolume[0], SoldSaleVolume: "<br>SoldSaleVolume " + smugglerSoldSaleVolume[0], coordinates: [{ lat: 39.19333, lng: -106.79816 }, { lat: 39.19482, lng: -106.79781 }, { lat: 39.19677, lng: -106.79884 }, { lat: 39.19927, lng: -106.80311 }, { lat: 39.19967, lng: -106.80516 }, { lat: 39.19999, lng: -106.80722 }, { lat: 39.19972, lng: -106.80927 }, { lat: 39.19824, lng: -106.81321 }, { lat: 39.1959, lng: - 106.81663 }, { lat: 39.1944, lng: - 106.81632 }, { lat: 39.19289, lng: -106.81618 }, { lat: 39.18977, lng: -106.81171 }, { lat: 39.18982, lng: -106.8024 }, { lat: 39.19228, lng: -106.79869 },
                    ]
                },
                {
                    name: "Central Core<br>", dates: "<p>Date:" + centralCoreActiveListingsDate[0] + "<br/></p>Inventory<hr>", listings: "Active Listings:" + centralCoreActiveListings[0] + "<br>", newListings: "New Listings:" + centralCoreNewListings[0] + "<br>", pendingListings: "Pending Listings:" + centralCorePendedListings[0] + "<br>", soldListings: "Sold Listings:" + centralCoreSoldListings[0] + "</p>", absorbtionRate: "Absorbtion Rate<hr>" + centralCoreAbsorbtion[0], ActiveAvgPrice: "<br><br>PRICE <hr>Active Average list price $" + centralCoreActiveAvgPrice, NewAvgPrice: "<br>New Active Average Price" + centralCoreNewAvgPrice[0], PendedAvgPrice: "<br>Pended Avg Price" + centralCorePendedAvgPrice[0], SoldAvgPrice: "<br>Avg sold Price" + centralCoreSoldAvgPrice[0], SoldAvgSoldPrice: " <br>Sold Avg Sold Price" + centralCoreSoldAvgSoldPrice[0], ActiveMedianPrice: " <br>Active Median Price $" + centralCoreActiveMedianPrice, NewMedianPrice: "<br>New Median Price" + centralCoreNewMedianPrice[0], PendedMedianPrice: "<br>PendedMedianPrice" + centralCorePendedMedianPrice[0], SoldMedianPrice: "<br>SoldMedianPrice" + centralCoreSoldMedianPrice[0], SoldMedianSoldPrice: "<br>Sold Median Sold Price" + centralCoreSoldMedianSoldPrice[0], SaleToOriginalListPriceRatio: "<br><br>RATIO <hr> SaleToOriginalListPriceRatio" + centralCoreSaleToOriginalListPriceRatio[0],
                    SaleToListPriceRatio: " <br>SaleToListPriceRatio" + centralCoreSaleToListPriceRatio[0], AverageDom: "<br><br>Days on Market <hr>Average Day on Market " + centralCoreAverageDom[0], AverageCdom: "<br>Average C Day on Market " + centralCoreAverageCdom[0],
                    ActiveListVolume: "<br>ActiveListVolume " + centralCoreActiveListVolume[0], NewListVolume: "<br><br>VOLUME <hr>NewListVolume " + centralCoreNewListVolume[0], PendedListVolume: "<br>PendedListVolume " + centralCorePendedListVolume[0], SoldListVolume: "<br>SoldListVolume " + centralCoreSoldListVolume[0], SoldSaleVolume: "<br>SoldSaleVolume " + centralCoreSoldSaleVolume[0], coordinates: [{ lat: 39.18834, lng: -106.81163 }, { lat: 39.19025, lng: -106.81446 }, { lat: 39.19156, lng: -106.81873 }, { lat: 39.192, lng: -106.82377 }, { lat: 39.19051, lng: -106.82942 }, { lat: 39.18914, lng: -106.82996 }, { lat: 39.18763, lng: -106.82982 }, { lat: 39.18331, lng: -106.82699 }, { lat: 39.18184, lng: -106.81553 }]
                }
            ];


            // foreach your polygons
            for (var i = 0; i < polygons.length; i++) {
                var item = polygons[i];

                var coors = item["coordinates"];
                var name = item["name"] + item["dates"] + item["listings"] + item["newListings"] + item["pendingListings"] + item["soldListings"] + item["absorbtionRate"] + item["ActiveAvgPrice"] + item["NewAvgPrice"] + item["PendedAvgPrice"] + item["SoldAvgPrice"] + item["SoldAvgSoldPrice"] + item["ActiveMedianPrice"] + item["NewMedianPrice"] + item["PendedMedianPrice"] + item["SoldMedianPrice"] + item["SoldMedianSoldPrice"] + item["SaleToOriginalListPriceRatio"] + item["SaleToListPriceRatio"] + item["AverageDom"] + item["AverageCdom"] + item["ActiveListVolume"] + item["NewListVolume"] + item["PendedListVolume"] + item["SoldListVolume"] + item["SoldSaleVolume"];




                var Polygon = new google.maps.Polygon({
                    path: coors,
                    strokeColor: '#66b3ff',
                    strokeOpacity: 0.8,
                    strokeWeight: 5,
                    editable: false,
                    fillColor: 'blue',
                    fillOpacity: 0.5,
                });
                Polygon.setMap(map);

                // call function to set window
                attachPolygonInfoWindow(Polygon, coors, name);
            }

            var contentString = '<div id="content">' +
                '<div id="siteNotice">' +
                '</div>' +
                '<h1 id="firstHeading" class="firstHeading">Uluru</h1>' +
                '<div id="bodyContent">' +
                '<p><b>Uluru</b>, also referred to as <b>Ayers Rock</b>, is a large ' +
                'sandstone rock formation in the southern part of the ' +
                'Northern Territory, central Australia. It lies 335&#160;km (208&#160;mi) ' +
                'south west of the nearest large town, Alice Springs; 450&#160;km ' +
                '(280&#160;mi) by road. Kata Tjuta and Uluru are the two major ' +
                'features of the Uluru - Kata Tjuta National Park. Uluru is ' +
                'sacred to the Pitjantjatjara and Yankunytjatjara, the ' +
                'Aboriginal people of the area. It has many springs, waterholes, ' +
                'rock caves and ancient paintings. Uluru is listed as a World ' +
                'Heritage Site.</p>' +
                '<p>Attribution: Uluru, <a href="https://en.wikipedia.org/w/index.php?title=Uluru&oldid=297882194">' +
                'https://en.wikipedia.org/w/index.php?title=Uluru</a> ' +
                '(last visited June 22, 2009).</p>' +
                '</div>' +
                '</div>';

            var infowindow = new google.maps.InfoWindow({
                content: contentString,
                maxWidth: 200
            });

            // var marker = new google.maps.Marker({
            //    position: { lat: 39.191097, lng: -106.817535 },
            //    map: map,
            //    title: 'Uluru (Ayers Rock)'
            // });
            // marker.addListener('click', function () {
            //     infowindow.open(map, marker);
            //});
        }


        function attachPolygonInfoWindow(polygon, coors, html) {

            polygon.infoWindow = new google.maps.InfoWindow({
                content: html


            });

            polygon.infoWindow.setPosition(getHighestWindowPosition(coors));

            google.maps.event.addListener(polygon, 'mouseover', function () {
                polygon.infoWindow.open(map, polygon);
            });
            google.maps.event.addListener(polygon, 'mouseout', function () {
                polygon.infoWindow.close();
            });
        }

        // function to get highest position of polygon to show window nice on top
        function getHighestWindowPosition(coors) {

            var lat = -5000, lng = 0, i = 0, n = coors.length;

            for (; i !== n; ++i) {
                if (coors[i].lat > lat) {
                    lat = coors[i].lat;
                    lng = coors[i].lng;
                }
            }
            return { lat: lat, lng: lng };
        }
    </script>
    <!--Load the API from the specified URL
    * The async attribute allows the browser to render the page while the API loads
    * The key parameter will contain your own API key (which is not needed for this tutorial)
    * The callback parameter executes the initMap() function
    -->
    <script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAYFXJkYOxxDT3jU1jb5DorpO5rWrPrD-o&callback=initMap">
    </script>
</section> <!-- end s-works -->

<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>