<!DOCTYPE html>
<html>

<head>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8">
    <meta charset="UTF-8">
    <title>jQuery MxSlider Plugin Demo</title>
    <meta name="viewport" content="initial-scale=1.0, width=device-width">
    <link rel="stylesheet" href="/css/MxSlider.css">
    <link href="http://www.jqueryscript.net/css/jquerysctipttop.css" rel="stylesheet" type="text/css">
    <style>
        /* Styles for Bugs Bunny */



@import 'https://fonts.googleapis.com/css?family=Oswald';

body { background-color: #bed1e4; }
h1 { margin:150px auto; text-align:center;}

.sliderWrapper {
  width: 90%;
  max-width: 700px;
  margin: 40px auto;

}

.mySlider { border: 4px solid #27425d; }

.sliderDescription {
  position: absolute;
  display: block;
  max-width: 80%;
  padding: 10px;
  bottom: 40px;
  background-color: rgba(39, 66, 93, 0.9);
}

.sliderDescription a {
  font-family: 'Oswald', sans-serif;
  color: #fff;
  font-size: 18px;
  text-decoration: none;
}

.mx-navigation {
  margin: 4px;
  top: 42%;
}

.mx-prev, .mx-next { background-color: #27425d; }

.mx-prev {
  background-image: url(img/arr_l.png);
  background-repeat: no-repeat;
  background-position: 2px 5px;
}

.mx-next {
  background-image: url(img/arr_r.png);
  background-repeat: no-repeat;
  background-position: 8px 5px;
}

.mx-nav_dots { top: 88%; }

.mx-nav_dots span {
  margin: 0px 4px;
  border-radius: 50%;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border: 3px solid #27425d;
  background-color: #fff;
}

.mx-nav_dots span.dotActive { background-color: #27425d; }
.hidden { display:none;}
</style>
</head>

<body>
    <div id="jquery-script-menu">
        <div class="jquery-script-center">
            <ul>
                <li><a href="http://www.jqueryscript.net/slider/Stacked-card-Style-Responsive-Image-Slider-Plugin-MxSlider.html">Download
                        This Plugin</a></li>
                <li><a href="http://www.jqueryscript.net/">Back To jQueryScript.Net</a></li>
            </ul>
            <div class="jquery-script-ads">
                <script type="text/javascript">< !--
                        google_ad_client = "ca-pub-2783044520727903";
                    /* jQuery_demo */
                    google_ad_slot = "2780937993";
                    google_ad_width = 728;
                    google_ad_height = 90;
//-->
                </script>
                <script type="text/javascript" src="http://pagead2.googlesyndication.com/pagead/show_ads.js">



                </script>
            </div>
            <div class="jquery-script-clear"></div>
        </div>
    </div>
    <h1>jQuery MxSlider Plugin Demo</h1>
    <div class="sliderWrapper hidden">
        <!-- Slider -->
        <div class="mySlider">
            <div> <img src="https://unsplash.it/1000/500?image=485" alt="" />
                <div class="sliderDescription"> <a href="#"> Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                        Sed ac erat vel nulla efficitur feugiat efficitur fringilla sem.</a> </div>
            </div>
            <div> <img src="https://unsplash.it/1000/500?image=494" alt="" />
                <div class="sliderDescription"> <a href="#"> Duis dictum fringilla odio eget mattis. Nullam at neque
                        non sapien lacinia faucibus. </a> </div>
            </div>
            <div> <img src="https://unsplash.it/1000/500?image=497" alt="" />
                <div class="sliderDescription"> <a href="#"> Vivamus efficitur odio eu dolor vehicula, nec consectetur
                        mi blandit. Praesent porttitor sollicitudin nisln </a> </div>
            </div>
        </div>
<<<<<<< HEAD
        <!-- Slider -->
    </div>
    <!-- My box for the slider -->

    <!-- Scripts -->
    <script src="http://code.jquery.com/jquery-1.12.4.min.js"></script>
    <script src="https://npmcdn.com/imagesloaded@4.1/imagesloaded.pkgd.min.js"></script>
    <script src="/js/MxSlider.js"></script>
    <script>
        $(document).ready(function () {

            $('body').imagesLoaded(function () {
                $(".sliderWrapper").removeClass("hidden");
                $('.mySlider').MxSlider({
                    autoPlay: true,
                    dots: true,
                    timeSlide: 500
                });
            });

        })
    </script>
    <script type="text/javascript">

        var _gaq = _gaq || [];
        _gaq.push(['_setAccount', 'UA-36251023-1']);
        _gaq.push(['_setDomainName', 'jqueryscript.net']);
        _gaq.push(['_trackPageview']);

        (function () {
            var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
            ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
            var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
        })();

    </script>
</body>

</html>
=======
        <input type="submit" value="Send message" />

    </form>
    <h1>DB RENTAL </h1>
    {{#each items}}
    <div> TITLE:{{this.title}} </div>
    <div>DESCRIPTION:{{this.description}}</div>
    <div>NUM BEDS:{{this.numBeds}}</div>
    <div>NUM BATHS:{{this.numBaths}}</div>
    <div>SQUARE FEET:{{this.squareFeet}}</div>
    <div>ACRES:{{this.acres}}</div>
    <div>LISTING FEATURES:{{this.listingFeatures}}</div>
    <div>NIGHT RATES:{{this.nightRates}}</div>
    <div>MONTHLY RATES:{{this.monthlyRates}}</div>
    <div><img src="{{this.photoURL1}}" alt=""></div>
    <div>ID: {{ this._id }}</div>
    {{/each}}



</section> <!-- end s-works -->



<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
>>>>>>> parent of 787a80b... added more image links for db rentals
